* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    padding: 0.5rem;
}

.header-icon {
    width: 3.5rem;
}

.header-title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.5rem;
}

main {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.input-bar {
    flex-grow: 1;
    min-width: 30rem;
    max-width: 40rem;
    padding: 1rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.input-bar::placeholder {
    color: #6B7280;
    font-weight: 400;
    font-size: 1rem;
}

.input-btn {
    width: 12rem;
    font-size: 1rem;
    border: none;
    background-color: #141413;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

section {
    width: 45rem;
    min-width: 30rem;
    max-width: 45rem;
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}